* {
    outline: 1px solid lavender--;
}

:root {
    --primary-color: #FECD32;
    --background-color: #F9F9F9;
    --darkgray-color: #cccccc;
    --lightgray-color: #DDDDDD;
    --white-color: #FFFFFF;
    --lightblack-color: #333333;
    --black-color: #202124;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: url(../images/patten02.png);
}

.inner {
    max-width: 140rem;
    width: 100%;
    margin: 0 auto;
}

.inner_content {
    max-width: 130rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-bottom: 1px solid var(--darkgray-color);
    background: var(--white-color);
}

#header .inner {
    max-width: 170rem;
    width: 100%;
    margin: 0 auto;
}

#header .title_wrap {
    display: flex;
    justify-content: space-between;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 6rem;
    color: var(--lightblack-color);
}

.mainVisual .inner {
    position: relative;
    padding: 200px 0;
}

.mainVisual .tit {
    margin: 0 0 3rem 0;
}

.mainVisual .tit p {
    font-size: 17rem;
    font-weight: 600;
    letter-spacing: -2px;
}


.mainVisual .tit p span {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-size: 0;
    overflow: hidden;
    height: 60px;
    padding: 0 20px;
}

.mainVisual .tit p em {
    display: inline-block;
    background: var(--black-color);
    height: 10px;
    width: 500px;

    vertical-align: middle;
}

/* .mainVisual .tit p span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--black-color);
    transform: translate(0, -50%);
}

.mainVisual .tit p span::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--black-color);
    transform: translate(0, -50%);
} */

.mainVisual .desc {
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.mainVisual .desc .clip {
    background: var(--primary-color);
    width: 4rem;
    height: 4rem;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.mainVisual .desc p {
    line-height: 2.4rem;
}


.f_wrap {
    display: flex;
}

.f_wrap .sidebar {
    width: 200px;
    background: var(--white-color);
    border-right: 1px solid var(--darkgray-color);
    transition: 0.5s;
}

.f_wrap .sidebar .gnb {
    margin: auto 0;
}

.f_wrap.on .sidebar {
    width: 0;
    overflow: hidden;
}


.f_wrap #main {
    transition: 0.5s;
    flex: 1;
}

.f_wrap.on #main {}

.portfolio {
    align-items: center;
}

.portfolio figure {
    width: 80rem;
    transform: translate(-64px, 10px);
}

.portfolio figure img {
    width: 100%;
}

.portfolio .desc_tit {
    margin: 0 0 1.6rem 0;
}

.portfolio .desc_tit strong {
    display: block;
    font-size: 6rem;
    font-weight: 600;
    margin: 0 0 0.8rem 0;
}

.portfolio .desc_tit strong::before {
    content: attr(data-tit);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50rem;
    color: #fff;
    z-index: -1;

    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25),
        -3px -3px 10px rgba(255, 255, 255, 0.25);
}

.portfolio .desc_tit span {
    display: block;
    font-size: 2.4rem;
}

.portfolio .desc_info {}

.portfolio .desc_info p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 0 0 1.6rem 0;
}

.portfolio .desc_info .table {
    /* border-top: 2px solid var(--primary-color); */
    /* border-bottom: 2px solid var(--primary-color); */
    background: var(--white-color);
}

.portfolio .desc_info .table th {
    padding: 1rem 0.8rem;
}








#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-top: 1px solid var(--darkgray-color);
    background: var(--white-color);
}

#footer .inner {
    max-width: 170rem;
    width: 100%;
    margin: 0 auto;
}

#footer .title_wrap {
    display: flex;
    justify-content: space-between;

    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: var(--lightblack-color);
}










.fp-watermark {
    display: none;
}